<div class="page-header">
  <h1>New Shift</h1>
</div>

<div style="background-color: gray; border: 1px solid black; height: 300px;">
  
</div>

<%= content_for :sidebar do %>
  <h3>Positions</h3>
  <ol id="positions">
    <li>Host</li>
    <li>Waiter</li>
    <li>Cook</li>
    <li>Bus boy</li>
    <li>Dishwasher</li>
  </ol>
<% end %>
