<div class="page-header">
  <h1>New Shift</h1>
</div>

<div class="span9">
  <h3>Shifts for <span data-bind="text: test"></span></h3>
  <div id="shifts" data-bind="allowsDropAndSortOfShifts">

  </div>
</div>

<div class="span2">
  <h3>Positions</h3>
  <ol id="positions" data-bind="foreach: positions">
    <li data-bind="text: $data, draggable"></li>
  </ol>
</div>
