<div class="page-header">
  <h1>New Shift</h1>
</div>

<div class="span9">
  <h3>Shifts for <span data-bind="text: shiftName"></span></h3>
  <div id="shifts" data-bind="sortable: shifts, allowShiftDrop">
    <div data-bind="resizableShift">
      <span data-bind="text: position"></span>
      <span data-bind="text: startTimeFormatted"></span>
      <span> - </span>
      <span data-bind="text: endTimeFormatted"></span>
    </div>
  </div>
</div>

<div class="span2">
  <h3>Positions</h3>
  <ol id="positions" data-bind="sortable: positions">
    <li data-bind="text: $data, draggable"></li>
  </ol>
</div>
