<div class="page-header">
  <h1>New Shift</h1>
</div>

<ul id="shifts" class="connectedSortable" style="background-color: gray; border: 1px solid black; height: 300px;">
  
</ul>

<%= content_for :sidebar do %>
  <h3>Positions</h3>
  <ol id="positions" class="connectedSortable">
    <li>Host</li>
    <li>Waiter</li>
    <li>Cook</li>
    <li>Bus boy</li>
    <li>Dishwasher</li>
  </ol>
<% end %>
