// Place all the styles related to the shift_template controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#shifts{
  background-color: gray;
  border: 1px solid black;
  height: 300px;

  div {
    background-color: yellow;
    margin: 0 5px 5px 5px;
    font-size: 1.2em;
    line-height: 3em;
  }
}

